@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* Shared-Styles */
  .flex{
    display: flex;
  }
  .bg-color{
    background-color: rgba(255, 144, 14, 0.1);
  }
  .explore-btn{
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 21px 24px 20px 25px;
    font-size: 1.25rem;
    font-weight: 700;
  }
  .section-title{
    font-size: 2.8125rem;
    margin-bottom: 0;
    font-weight: bold;
}
.section-description{
    font-size: 1rem;
    margin-top: 24px;
    margin-bottom: 32px;
    
}
  .Dark-1{
    color: #131313;
  }
  .Dark-2{
    color: #424242;
  }
  .Dark-3{
    color: #727272;
  }


/* .Header-Style */
.nav-bar, .banner{
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 85px;
}
/* Nav-Styles */
.nav-bar{
    justify-content: space-between;
}
.Brand{
    font-size: 2.815rem;
    font-weight: bold;
}
.nav-links{
    list-style: none;
    
}
.nav-link{
    text-decoration: none;
    margin-right: 50px;
    font-size: 1.125rem;
    font-weight: 500;
}
/* Banner-Styles */
.banner-content{
    max-width: 881px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 22px;
}
.banner-description{
    font-size: 1rem;
    font-weight: ;
    margin-bottom: 32px;
}
.banner-img{
    width: 100%;
    margin-bottom: 45px;
}
/* Teams and Features Style */
.teams{
    max-width: 1440px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features{
    margin-left: 73px;
    max-width: 537px;
}

#Quick{
    font-weight: 500;
}
#our{
    font-weight: bold;
}
#features{
    font-weight: bold;
    color: #FF900E;
}

/* features-details-styles */
.features-details{
    max-width: 1440px;
    display: flex;
    gap: 146px;
    margin: 0 auto;
    margin-bottom: 130px;
    margin-top: 20px;
}
#fet-title{
    border-left: 5px solid #FF900E;
    height: 106px;
    padding-left: 21px;
}
.features-card{
    max-width: 586px;
    max-height: 171px;
    padding-top: 10px;  
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 0;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.card-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.exp-btn{
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 46px 42px;
    margin-left: -100px;
    margin-top: -123px;
}
.year{
    font-size: 3.875rem;
    font-weight: bold;
}
.exp{
    font-size: 1.5625rem;
    font-weight: 500;
}

/* Fact-sec-styles */
.fact-sec{
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 180.08px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 124.17px;
    margin-top: 100.08px;
    margin-left: 40px;
}
.fact-num{
    font-size: 2.875rem;
    font-weight: 600;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 5px;

}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
    margin-top: 0;
}
.fact-card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    height: 241.83px;
    width: 241.83px;
}

/* Sponsors-styles */
.our-sponsors{
    max-width: 1440px;
    margin: 0 auto;
}
.sponsors-details{
    max-width: 542px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}
.sponsor-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 156px;
    filter: grayscale(100%);
}



/* Responsive-Styles */
@media screen and (max-width:576px) {

    .nav-bar, .nav-links, .teams{
        flex-direction: column;
    }
    #fet-title{
        margin-bottom: 100px;
        border-left: 5px solid #FF900E;
        height: 150px;
    }
    .features-details{
        flex-direction: column;
        margin-top: 20px;
    }
     
    .facts-container{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 100.08px;
        gap: 24px;
        margin-left: 20vw;
    }
    .sponsor-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 100px;
        margin-left: 30vw;
    }
    .teams-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin: auto;
        text-align: center;
    }
    .features-details>div{
        text-align: center;
    }
    
    .fact-sec>div{
        text-align: center;
    }
    .features-img>img{
        max-width: 100%;
    }
    .exp-btn{
        margin-left: 0px;
        margin-top: 20px;
    }
}